<a href="https://colab.research.google.com/github/Aliyah03/BigData/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ICP 2
#Aliyah Allen

In [ ]:
#Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

In [22]:
#Question 1
import statistics

#list of 10 student ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#Sort the list and find the min and max age
ages = sorted(ages)
max = ages[9]
print("max is: ", max)
min = ages[0]
print("min is: ", min)

#Add the min age and the max age again to the list
ages.append(max)
ages.append(min)
ages = sorted(ages)

#Find the median age (one middle item or two middle items divided by two)
print("median is: ", statistics.median(ages))

#Find the average age (sum of all items divided by their number)
average = sum(ages) / 12
print("average is: ", average)

#Find the range of the ages (max minus min)
range = max - min
print("range is: ", range)

max is:  26
min is:  19
median is:  24.0
average is:  22.75
range is:  7

In [42]:
#Question 2

#Create an empty dictionary called dog
dog = {}

#Add name, color, breed, legs, age to the dog dictionary
dog.update({'name': 'doggo', 'color':'black', 'breed':'poodle', 'legs':'four', 'age':'1'})

#Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student = {'first_name': 'Aliyah', 'last_name': 'Allen', 'gender': 'Female', 'age': '20', 'marital status': 'No', 'skills': 'Typing', 'country': 'US', 'city': 'Kansas City', 'address': 'Avenue'}

#Get the length of the student dictionary
print(len(student))
#Get the value of skills and check the data type, it should be a list
print(student.get('skills'))

#Modify the skills values by adding one or two skills
student.update({'skills': 'Working'})

#Get the dictionary keys as a list
dogKeys = list(dog.keys())
studentKeys = list(student.keys())
print("dog keys: ", dogKeys)
print("student keys: ", studentKeys)

#Get the dictionary values as a list
dogValues = list(dog.values())
studentValues = list(student.values())
print("dog values: ", dogValues)
print("student values: ", studentValues)

9
Typing
dog keys:  ['name', 'color', 'breed', 'legs', 'age']
student keys:  ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
dog values:  ['doggo', 'black', 'poodle', 'four', '1']
student values:  ['Aliyah', 'Allen', 'Female', '20', 'No', 'Working', 'US', 'Kansas City', 'Avenue']

In [46]:
#Question 3

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#Find the length of the set it_companies
print(len(it_companies))

#Add 'Twitter' to it_companies
it_companies.update({'Twitter'})

#Insert multiple IT companies at once to the set it_companies
it_companies.update({'Instagram', 'Lenovo', 'HP'})

#Remove one of the companies from the set it_companies
remove = it_companies.pop()
del remove

#What is the difference between remove and discard
  #discard() removes the specified item and remove() will raise an error if item doesn't exist where discard() will not

#Join A and B
C = A.copy()
C.update(B)

print("join A and B is: ", C)

#Find A intersection B
print("A intersection B is: ", A.intersection(B))

#Is A subset of B
  #yes, A is subset B

#Are A and B disjoint sets
  #no, A and B aren't disjoint sets

#Join A with B and B with A
joined = B.update(A)
print("A and B joined is: ", A)

joined = A.update(B)
print("B and A joined is: ", B)

#What is the symmetric difference between A and B
  #With them joined the symmetric difference is nothing.

#Delete the sets completely
A.clear()
B.clear()

#Convert the ages to a set and compare the length of the list and the set.
ageSet = (set(age))
print("Length of list is: ", len(age))
print("Length of set is: ", len(ageSet))

7
join A and B is:  {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B is:  {19, 20, 22, 24, 25, 26}
A and B joined is:  {19, 20, 22, 24, 25, 26}
B and A joined is:  {19, 20, 22, 24, 25, 26, 27, 28}
Length of list is:  8
Length of set is:  5

In [85]:
#Question 4

#Create a class Employee and then do the following
#Create a data member to count the number of Employees
#Create a constructor to initialize name, family, salary, department
#Create a function to average salary

class Employee:
  def __init__(self, name, family, salary, department):
    self.firstname = name
    self.family = family
    self.salary = salary
    self.department = department

  def printname(self):
    print(self.firstname, self.family, self.salary, self.department)

  def averageSalary(self, name):
    print("Average Salary: ", int(self.salary / 12))

class Fulltime(Employee):
  pass


#Create the instances of Fulltime Employee class and Employee class and call their member functions.
x = Employee("John", "Doe", 350, "HR")
x.printname()

x = Fulltime("Mike", "Olsen", 200, "Intern")
x.printname()
x.averageSalary("Mike")

John Doe 350 HR
Mike Olsen 200 Intern
Average Salary:  16
Average Salary:  16